<!DOCTYPE html>
<html lang="">
  <head>
    <%- include("partials/document-head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/generic.css" />
    <script src="/js/generic.js"></script>
    <title>Yet-Another-Blog</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="page">
      <div class="page-center">
        <div class="page-modal">
          <div class="title">Register</div>
          <div class="login-part">
            <div class="name">Username:</div>
            <input id="username" type="text" />
          </div>
          <div class="login-part">
            <div class="name">Password:</div>
            <input id="password" type="password" />
          </div>
          <div class="action-container">
            <button onclick="requestRegister()" class="button"><span>Register</span></button>
            <a href="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
<script defer src="/js/login.js"></script>
