<div class="footer">
  <div class="page-center">
    <div class="resources">
      <a class="atom-feed icon" href="/atom"><span>ATOM Feed</span> </a>
      <a class="json icon" href="/json"><span>JSON Feed</span></a>
    </div>
    <div class="info">
      <a class="json icon" href="https://github.com/armored-dragon/yet-another-blog">Built using Yet-Another-Blog</a>
    </div>
  </div>
</div>
